* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}


.spacer {
  height: 50vh;
  width: 100%;
}

/* .ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.reveal_left {
  opacity: 0.5;
  transform: translateX(-160px);
  transition: 
    opacity 0.6s ease-out, 
    transform 2s cubic-bezier(0, 0, 0.3, 1);
}
.reveal_left.active {
  opacity: 1;
  transform: translateX(0);
}
.reveal_right {
  opacity: 0.5;
  transform: translateX(150px);
  transition: 
    opacity 0.6s ease-out, 
    transform 2s cubic-bezier(0, 0, 0.3, 1);
}
.reveal_right.active {
  opacity: 1;
  transform: translateX(0);
}
.reveal_top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 
    opacity 2s ease-out, 
    transform 2s cubic-bezier(0, 0, 0.3, 1);
}
.reveal_top.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal_bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 
    opacity 3s ease, 
    transform 3s ease;
}
.reveal_bottom.active {
  opacity: 1;
  transform: translateY(0);
}
.reveal_scale_in {
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
  transition: 
    opacity 2s ease-out, 
    transform 2s cubic-bezier(0, 0, 0.3, 1);
}
.reveal_scale_in.active {
  transform: scale(1);
  opacity: 1;
}
.reveal_scale_out {
  opacity: 0;
  transform: scale(1.5);
  transform-origin: center;
  transition: 
    opacity 2s ease-out, 
    transform 2s cubic-bezier(0, 0, 0.3, 1);
}
.reveal_scale_out.active {
  transform: scale(1);
  opacity: 1;
}

.hero {
  height: 100vh;
  width: 100%;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero .bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.hero .text {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.hero .detail {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%; 
}
.hero .size {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero .just-in {
  background: url("../../Just-In_Clothing/Assets/Hero/text1.png") center / contain no-repeat;
}
.hero .clothing {
  background: url("../../Just-In_Clothing/Assets/Hero/text2.png") center / contain no-repeat;
}

.hero .bg1 {
  /* background: url("../../Just-In_Clothing/Assets/Hero/bg1.png") center / contain no-repeat; */
}
.hero .bg2 {
  background-color: green;
}
.hero .bg2::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  /* width: 200%; */
  aspect-ratio: 1/1;
  height: 200%;
  background: url("../../Just-In_Clothing/Assets/Hero/bg2.png") center / contain no-repeat;
  transform: rotate(90deg);
}
.hero .bg3 {
  background: url("../../Just-In_Clothing/Assets/Hero/bg3.png") center / cover no-repeat;
}
/* .hero .bg3::before {
  content: "";
  position: absolute;
  background: url("../../Just-In_Clothing/Assets/Hero/bg3.png") center / contain no-repeat;
  transform: rotate(25deg)
} */

.hero .img1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* inset: 0; */
  background: url("../../Just-In_Clothing/Assets/Hero/1.png") center / contain no-repeat;
  top: 10%;
  left: 20%;
}
/* .hero .img2 {
  background: url("../../Just-In_Clothing/Assets/Hero/2.png") center / contain no-repeat;
}
.hero .img3 {
  background: url("../../Just-In_Clothing/Assets/Hero/3.png") center / contain no-repeat;
}
.hero .img4 {
  background: url("../../Just-In_Clothing/Assets/Hero/4.png") center / contain no-repeat;
} */

/* .f {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.f::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url('your-image.jpg') center/cover no-repeat;
  transform: rotate(45deg);
  z-index: -1;
} */



/* .bg_wrap {
  position: absolute;
  inset: 0;
}
.bg1 {
  position: absolute;
  background: url(Head/bg1.jpg) center /cover no-repeat;
  position: absolute;
  height: 200%;
  width: 200%;
  left: -50%;
  top: -50%;
  transform: translateX(-50%) translateY(-50%);
  
  transform: rotate(-25deg);
  opacity: 0.5;
}
.bg2{
  background: url(Head/bg2.png) center /cover no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
.bg3 {
  background: url(Head/bg3.png) center /contain no-repeat;
  position: absolute;
  height: 200%;
  width: 100%;
  left: 45%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(70deg);
  opacity: 0.7;
} */

/* .outline {
  position: absolute;
  inset: 0;
  filter: 
    drop-shadow(1px 0 0 black)
    drop-shadow(-1px 0 0 black)
    drop-shadow(0 1px 0 black)
    drop-shadow(0 -1px 0 black);
} */

.heads {
  position: relative;
  height:  100vh;
  width: 100%;
  background-image: url("../../Just-In_Clothing/Assets/Head/1.png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: none;
}
.head_container {
  height: 100%;
  width: 100%;
}
.just_in {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../Just-In_Clothing/Assets/Head/text1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.clothing {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/workspaces/Website/Just-In_Clothing/Assets/Head/text2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: 
    drop-shadow(1px 0 0 white)
    drop-shadow(-1px 0 0 white)
    drop-shadow(0 1px 0 white)
    drop-shadow(0 -1px 0 white);
}

.element1 {
  transform: translateX(-50%) translateY(-50%) rotate(-15deg);
  /* filter: 
    drop-shadow(0.5px 0 0 black)
    drop-shadow(-0.5px 0 0 black)
    drop-shadow(0 0.5px 0 black)
    drop-shadow(0 -0.5px 0 black); */
  left: 10%;
  top: 50%;
  position: absolute;
  height: 300px;
  width: 300px;
  background-image: url("Head/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.element2 {
  transform: translateX(-50%) translateY(-50%);
  filter: 
    drop-shadow(1px 0 0 white)
    drop-shadow(-1px 0 0 white)
    drop-shadow(0 1px 0 white)
    drop-shadow(0 -1px 0 white);
  left: 80%;
  top: 45%;
  position: absolute;
  height: 368px;
  width: 368px;
  background-image: url("Head/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* .element3 {
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  height: 368px;
  width: 368px;
  background-image: url("Head/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */
.element4 {
  transform: translateX(-50%) translateY(-50%) rotate(-20deg);
  left: 70%;
  top: 30%;
  position: absolute;
  height: 220px;
  width: 220px;
  background-image: url("Head/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .release {
  background: blue;
  height: 100vh;
  width: 100%;
} */

.lease {
  height: auto;
  width: 100%;
  /* background: blue; */
}
.lease .container {
  height: auto;
  width: 100%;
  max-width: 25rem;
  /* background: red; */
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  /* overflow: hidden; */
  border-top: 2px #eee solid;
  border-bottom: 2px #eee solid;
}
.lease .content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}
.lease .price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.lease .btn {
  display: flex;
  gap: 0.5rem;
}
.lease .cart, .lease .buy {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.lease .image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.lease .bg {
  height: 100%;
  width: 100%;
  background: url("../../Just-In_Clothing/Assets/New Release/bg.png") center / cover no-repeat;
}
.lease .img {
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../../Just-In_Clothing/Assets/New Release/1a.png") center / cover no-repeat;
  transition: 0.6s ease;
}
.lease .img:hover {
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.release {
  /* background: yellow; */
  height: auto;
  width: 100%;
  padding: 3rem 5rem;
  displaY: none;
}
.release_container {
  background: #eeeeee;
  height: 450px;
  width: 100%;
  border-radius: 5rem;
  padding: 2rem 3rem;
  display: flex;
}

.content_container {
  /* background: yellow; */
  /* background: white; */
  height: 100%;
  width: 60%;
  /* padding: 2rem; */
  position: relative;
}
.content_container h1 {
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 0.5rem;
}
.content_container p {
  margin: 0 2rem;
}

.bottom_container {
  /* background: blue; */
  position: absolute;
  padding-left: 2rem;
  bottom: 2rem;
  
  
  height: 3.5rem;
  width: 100%;
}
.bottom_container_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  /* background: cyan; */
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.left .buy, .left .cart {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  padding: 2px;
  cursor: pointer;
}
.left .cart {
  height: 100%;
  width: 72px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* background: url("Collection3/cart.png") center /cover no-repeat; */

.left .buy .button_wrap, .left .cart .button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  border: 2px solid #eeeeee;
  border-radius: 2rem;
}
.bottom_container_wrap .price {
  font-size: 1.5rem;
}

.release_bg_wrap {
  /* background: lightgrey; */
  height: 100%;
  width: 40%;
  padding: 2rem;
}
.release_bg {
  position: relative;
  height: 100%;
  width: 100%;
}
.release_bg:hover .release_bg2 {
  transform: scale(1.2);
}
.release_bg1 {
  position: absolute;
  background: url("New Release/bg.png")  center /cover no-repeat;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 3rem;
}

.release_bg2 {
  position: absolute;
  background: url("New Release/1a.png")  center /cover no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.6s ease;
  transform-origin: bottom center;
}


.bes {
  height: auto;
  width: 100%;
  text-align: center;
  /* background: blue;  */
}
.bes .container {
  height: auto;
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  /* background: red; */
  gap: 1rem;
  margin: auto;
}
.bes .item {
  width: 100%;
  /* background: yellow; */
  border-top: 2px #eee solid;
  border-bottom: 2px #eee solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.bes .img {
  width: 100%;
  aspect-ratio: 1/1;
  /* background: violet; */
  transform-origin: bottom center;
  transition: 0.6s ease;
}
.bes .img:hover {
  transform: scale(1.2)
}
.bes .content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 0.5rem;
  background-color: #fff;
}
.bes .btn {
  display: flex;
}
.bes .buy, .bes .cart {
  width: 50%;
}

.bes .img1 {
  background: url("../../Just-In_Clothing/Assets/Best Seller/1.png") center / cover no-repeat;
}
.bes .img2 {
  background: url("../../Just-In_Clothing/Assets/Best Seller/2.png") center / cover no-repeat;
}
.bes .img3 {
  background: url("../../Just-In_Clothing/Assets/Best Seller/3.png") center / cover no-repeat;
}


.best {
  /* background: blue; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.best .container h1 {
  text-align: center;
}

.card_deck {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 3rem;
}

.card {
  position: relative;
  height: 500px;
  width: 100%;
  background: #eeeeee;
  border-radius: 3rem;
  padding: 1rem;
}

.best_bg_wrap {
  height: 50%;
  width: 100%;
  border-radius: 2rem;
  background-color: white;
}

.best_bg1 {
  background: url("Best Seller/1.png") center /cover no-repeat;
  height: 100%;
  width: 100%;
  transform-origin: bottom center;
  transition: 0.6s ease;
}
.best_bg2 {
  background: url("Best Seller/2.png") center /cover no-repeat;
  height: 100%;
  width: 100%;
  transform-origin: bottom center;
  transition: 0.6s ease;
}
.best_bg3 {
  background: white;
  background: url("Best Seller/3.png") center /cover no-repeat;
  height: 100%;
  width: 100%;
  transform-origin: bottom center;
  transition: 0.6s ease;
}
.best_bg_wrap:hover .best_bg1 {
  background: url("Best Seller/1a.png") center /cover no-repeat;
  transform: scale(1.2);
}
.best_bg_wrap:hover .best_bg2 {
  background: url("Best Seller/2a.png") center /cover no-repeat;
  transform: scale(1.2);
}
.best_bg_wrap:hover .best_bg3 {
  background: url("Best Seller/3a.png") center /cover no-repeat;
  transform: scale(1.2);
}

.card .button {
  /* background: yellow; */
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.card .button .buy, .card .button .cart {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  padding: 2px;
  cursor: pointer;
}
.card .button .cart {
  background: white;
  height: 100%;
  width: 72px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .button .buy .button_wrap, .card .button .cart .button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  border: 2px solid #eeeeee;
  border-radius: 2rem;
}

.best_content {
  height: 38%;
  width: 100%;
}


/* .gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 500px;
}
.item.active {
  grid-column: 1;
  grid-row: 1 / 3;
  background: #3498db;
}
.item:not(.active) {
  background: #ecf0f1;
} */


.collect2 {
  height: auto;
  width: 100%;
  /* background: blue; */
  display: none;
}

/* .collect2 .container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.collect2 .item {
  flex: 1;
  aspect-ratio: 1/1.5;
  position: relative;
  overflow: hidden;
  transition: all 2s ease;
}
.collect2 .item.active {
  
} */

/* .collect2 .scope {
  width: 100%;
  aspect-ratio: 1/1.5;
  background: blue;
}
.collect2 .scope .item.active {
  
}
.collect2 .scope .item:not(.active) {
  display: none;
}
.collect2 .option {

} */

.collect2 .img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: violet;
}
.collect2 .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 0; */
  position: relative;
}
.collect2 .head {
  /* background: blue; */
  position: absolute;
  top: -3rem;
}
.collect2 .item:hover .head {
  top: 1rem;
}
.collect2 .pay {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -3rem;
}
.collect2 .item:hover .pay {
  bottom: 1rem;
}
.collect2 .price {

}
.collect2 .btn {
  background-color: green;
}

.collect2 .img.img1 {
  background: url("../../Just-In_Clothing/Assets/Collection 2/1.jpg") center / cover no-repeat;
}
.collect2 .img.img2 {
  background: url("../../Just-In_Clothing/Assets/Collection 2/2.jpg") center / cover no-repeat;
}
.collect2 .img.img3 {
  background: url("../../Just-In_Clothing/Assets/Collection 2/3.jpg") center / cover no-repeat;
}
.collect2 .img.img4 {
  background: url("../../Just-In_Clothing/Assets/Collection 2/4.jpg") center / cover no-repeat;
}
.collect2 .img.img5 {
  background: url("../../Just-In_Clothing/Assets/Collection 2/5.jpg") center / cover no-repeat;
}

.collect3 {
  height: auto;
  width: 100%;
  text-align: center;
}
.collect3 .container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 1rem;
}
.collect3 .wrap {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  gap: 1rem;
}
.collect3 .item {
  width: 100%;
  aspect-ratio: 1/1.2;
  /* background-color: violet; */
  position: relative;
  border-top: 2px #eee solid;
  border-bottom: 2px #eee solid;
  overflow: hidden;
}
.collect3 .img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.4s ease;
}
.collect3 .item:hover .img {
  transform: scale(0.95);
  opacity: 0.8;
}
.collect3 .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.collect3 .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -3rem;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
  padding: clamp(0.5rem, 4vw + -0.2rem, 1rem) 0;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
.collect3 .btn {
  height: 100%;
  width: 100%;
}
.collect3 .item:hover .icons {
  top: 1rem;
}
.collect3 .buy {
  width: 100%;
  position: absolute;
  bottom: -3rem;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
  padding: clamp(0.2rem, 4vw + -0.2rem, 0.5rem) 0;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
.collect3 .item:hover .buy {
  bottom: 1rem;
}

.collect3 .img1 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/1.png") center / cover no-repeat;
}
.collect3 .img2 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/2.png") center / cover no-repeat;
}
.collect3 .img3 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/3.png") center / cover no-repeat;
}
.collect3 .img4 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/4.png") center / cover no-repeat;
}
.collect3 .img5 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/5.png") center / cover no-repeat;
}
.collect3 .img6 {
  background: url("../../Just-In_Clothing/Assets/Collection 3/6.png") center / cover no-repeat;
}

.access {
  height: auto;
  width: 100%;
  text-align: center;
}
.access .container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 1rem;
}
.access .wrap {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  gap: 1rem;
}
.access .item {
  width: 100%;
  aspect-ratio: 1/1;
  /* background-color: violet; */
  position: relative;
  padding: 0.5rem 0;
  border-top: 2px #eee solid;
  border-bottom: 2px #eee solid;
  /* overflow: hidden; */

  transform-style: preserve-3d;
  transition: all 0.6s ease;
  cursor: pointer;
}
.access .front, .access .back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.access .front {
  transform: rotateY(0deg);
}
.access .back {
  transform: rotateY(180deg);
  z-index: 2;
}
.access .flip.active1 {
  transform: rotateY(180deg);
}
/* backdrop-filter: blur(20px); */
.access .img {
  height: 100%;
  width: 100%;
}

.access .img1 {
  background: url("../../Just-In_Clothing/Assets/Accessories/1.png") center / cover no-repeat;
}
.access .img2 {
  background: url("../../Just-In_Clothing/Assets/Accessories/2.png") center / cover no-repeat;
}
.access .img3 {
  background: url("../../Just-In_Clothing/Assets/Accessories/3.png") center / cover no-repeat;
}
.access .img4 {
  background: url("../../Just-In_Clothing/Assets/Accessories/4.png") center / cover no-repeat;
}
.access .img5 {
  background: url("../../Just-In_Clothing/Assets/Accessories/5.png") center / cover no-repeat;
}
.access .img6 {
  background: url("../../Just-In_Clothing/Assets/Accessories/6.png") center / cover no-repeat;
}

.contact {
  height: auto;
  width: 100%;
  text-align: center;
}
.contact .container {
  height: auto;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.contact .item {
  width: 100%;
  max-width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* background: blue; */
}
.contact .img1 {
  background: url("../../Just-In_Clothing/Assets/Logo/Gmail.png") center /cover no-repeat;
}
.contact .img2 {
  background: url("../../Just-In_Clothing/Assets/Logo/Twitter.png") center /cover no-repeat;
}
.contact .img3 {
  background: url("../../Just-In_Clothing/Assets/Logo/Instagram.png") center /cover no-repeat;
}

@media (min-width: 281px) {
  /* body {
    background: grey;
  } */

  .lease .container {
    border: 2px #eee solid;
  }
  .lease .content {
    padding: 0 clamp(0.2rem, 4vw + -0.5rem, 1rem);
    padding-top: 1rem;
  }

  .bes .item {
    padding: 0.5rem;
    border: 2px #eee solid;
  }

  .collect3 .container {
    flex-direction: row;
  }
  .collect3 .item {
    border: 2px #eee solid;
    border-radius: 0.5rem;
  }
  .collect3 .icons {
    padding: clamp(0rem, 6vw + -1rem, 0.5rem) 0;
  }

  .access .container {
    flex-direction: row;
  }
  .access .item {
    border: 2px #eee solid;
    border-radius: 1rem;
  }

  .cont .wrap {
    flex-direction: row;
  }
}

@media (min-width: 481px) {
  /* body {
    background: blue;
  } */

  .lease .container {
    border-radius: 1rem;
  }
  .lease .price {
    flex-direction: row;
  }
  .lease .bg {
    border-radius: 0 0 0.8rem 0.8rem;
  }

  .collect2 .container {
    flex-direction: row;
  }
  /* .collect2 .item.active {
    flex: 2;
  }
  .collect2 .item:not(.active) {
    opacity: 0.5;
  } */
  .collect2 .item {
    opacity: 0.5;
  }
  .collect2 .item:hover {
    opacity: 1;
    flex: 2;
  }

  .collect3 .container {
    flex-direction: column;
  }
  .collect3 .wrap {
    flex-direction: row;
  }

  .access .container {
    flex-direction: column;
  }
  .access .wrap {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  /* body {
    background: green;
  } */

  .lease .container {
    max-width: 100%;
    flex-direction: row;
  }
  .lease .content {
    padding: clamp(0.2rem, 4vw + -0.5rem, 1rem);
    padding-right: 0;
  }
  .lease .bg {
    border-radius: 0 0.8rem 0.8rem 0;
  }

  .bes .container {
    max-width: 100%;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  /* body {
    background: red;
  } */
}